<div class="main">

    <div class="head">

        <div class="title" onclick="location.href = 'info'">
            Linque
        </div>

        <div class="search">
            <!-- <i class="fa fa-search icon"></i> -->
            <input placeholder="Search" type="text" class="input-full" id="search" />
        </div>

        <div class="menu">
            <button class="menu-item" id="add-link">
                <i class="fa fa-add"></i>
            </button>
            <button class="menu-item" id="profile">
                <i class="fa fa-circle"></i>
            </button>
        </div>

    </div>

    <div class="body">

        <div class="grid" id="links-list">


        </div>

    </div>

    <div class="homebtn right openlink" data-link="chats">
      <i class="fa fa-arrow-left"></i>
    </div>

</div>
