<div class="main">

    <div class="head">

        <h2><i class="fa fa-info"></i> | <span id="name">Info</span></h2>

    </div>

    <div class="body">

        <p>Linque is a simple link sharing site, you can share/browse all types of links here</p>

        <p><i class="fa fa-arrow-right"></i> If you want to post a link, Click on the "+" button in the home page</p>
        <p><i class="fa fa-arrow-right"></i> If you want to delete a post, Click on the circle in the home screen and right click or hold on the post you want to delete</p>

    </div>

</div>
