<div class="main">

    <div class="login">
        <div id="login" class="active">
        <div class="title">
            Login
        </div>
        <br>
        <p>Login to your account to be able to do share links</p>

        <input class="input" id="username" placeholder="Username" />

        <input class="input" id="password" placeholder="Password" type="password" />

        <button class="full-btn" id="submit-login"><i class="fa fa-user"></i> | Login</button>
        <br>
        <br>
        <a class="link" id="register-btn">Sign Up</a>
        </div>
        <div id="register">
        <div class="title">
            Sign Up
        </div>
        <br>
        <p>Logging is is the same as signing up, go login instead</p>

        <br>
        <br>
        <a class="link" id="login-btn" id="submit-reg">Login</a>
        </div>
    </div>

</div>
