<div class="main" id="userpage">

    <div class="head">

        <h2 class="title"><i class="fa fa-user"></i>  <span id="name"></span></h2>

    </div>

    <div class="body">

        <div class="grid" id="links-list">


        </div>

    </div>

    <div class="btn-group hide">
        <button class="btn open">
            <i class="fa fa-arrow-up"></i>
        </button>
        <button class="btn theme theme-green" data-theme="green">
            <i class="fa fa-circle"></i>
        </button>
        <button class="btn theme theme-blue" data-theme="blue">
            <i class="fa fa-circle"></i>
        </button>
        <button class="btn theme theme-defaults" data-theme="defaults">
            <i class="fa fa-circle"></i>
        </button>
        <button class="btn theme theme-purple" data-theme="purple">
            <i class="fa fa-circle"></i>
        </button>
        <button class="btn theme theme-orange" data-theme="orange">
            <i class="fa fa-circle"></i>
        </button>
    </div>

</div>
